* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  /* background-image: url("https://www.getillustrations.com/packs/abstract-background-shapes-textures/scenes/_1x/background%20_%20pattern,%20shape,%20wallpaper,%20background,%20camouflage,%20army,%20nature,%20mud,%20plants_md.png"); */
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpattern id='b' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='matrix(21.2 0 0 21.2 -20199.996 -15149.944)'%3E%3Cuse fill='%23fcfcfc' href='%23a' y='2'/%3E%3Cuse fill='%23fcfcfc' href='%23a' x='1' y='2'/%3E%3Cuse fill='%23fafafa' href='%23a' x='2' y='2'/%3E%3Cuse fill='%23fafafa' href='%23a'/%3E%3Cuse fill='%23f7f7f7' href='%23a' x='2'/%3E%3Cuse fill='%23f7f7f7' href='%23a' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='matrix(21.2 0 0 21.2 -20199.996 -15149.944)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23a'/%3E%3Cuse href='%23a' y='5'/%3E%3Cuse href='%23a' x='1' y='10'/%3E%3Cuse href='%23a' x='2' y='1'/%3E%3Cuse href='%23a' x='2' y='4'/%3E%3Cuse href='%23a' x='3' y='8'/%3E%3Cuse href='%23a' x='4' y='3'/%3E%3Cuse href='%23a' x='4' y='7'/%3E%3Cuse href='%23a' x='5' y='2'/%3E%3Cuse href='%23a' x='5' y='6'/%3E%3Cuse href='%23a' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='matrix(21.2 0 0 21.2 -20199.996 -15149.944)'%3E%3Cg fill='%23f5f5f5'%3E%3Cuse href='%23a' y='5'/%3E%3Cuse href='%23a' y='8'/%3E%3Cuse href='%23a' x='1' y='1'/%3E%3Cuse href='%23a' x='1' y='9'/%3E%3Cuse href='%23a' x='1' y='12'/%3E%3Cuse href='%23a' x='2'/%3E%3Cuse href='%23a' x='2' y='4'/%3E%3Cuse href='%23a' x='3' y='2'/%3E%3Cuse href='%23a' x='3' y='6'/%3E%3Cuse href='%23a' x='3' y='11'/%3E%3Cuse href='%23a' x='4' y='3'/%3E%3Cuse href='%23a' x='4' y='7'/%3E%3Cuse href='%23a' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='matrix(21.2 0 0 21.2 -20199.996 -15149.944)'%3E%3Cg fill='%23f2f2f2'%3E%3Cuse href='%23a' y='11'/%3E%3Cuse href='%23a' x='2' y='9'/%3E%3Cuse href='%23a' x='5' y='12'/%3E%3Cuse href='%23a' x='9' y='4'/%3E%3Cuse href='%23a' x='12' y='1'/%3E%3Cuse href='%23a' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='matrix(21.2 0 0 21.2 -20199.996 -15149.944)'%3E%3Cg fill='%23fff'%3E%3Cuse href='%23a' y='9'/%3E%3Cuse href='%23a' x='16' y='5'/%3E%3Cuse href='%23a' x='14' y='2'/%3E%3Cuse href='%23a' x='11' y='11'/%3E%3Cuse href='%23a' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23efefef'%3E%3Cuse href='%23a' x='3' y='13'/%3E%3Cuse href='%23a' x='9' y='7'/%3E%3Cuse href='%23a' x='13' y='10'/%3E%3Cuse href='%23a' x='15' y='4'/%3E%3Cuse href='%23a' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='matrix(21.2 0 0 21.2 -20199.996 -15149.944)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23a' x='2' y='5'/%3E%3Cuse href='%23a' x='16' y='38'/%3E%3Cuse href='%23a' x='46' y='42'/%3E%3Cuse href='%23a' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='matrix(21.2 0 0 21.2 -20199.996 -15149.944)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23a' x='33' y='13'/%3E%3Cuse href='%23a' x='27' y='54'/%3E%3Cuse href='%23a' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='i' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='matrix(21.2 0 0 21.2 -20199.996 -15149.944)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23a' x='11' y='8'/%3E%3Cuse href='%23a' x='51' y='13'/%3E%3Cuse href='%23a' x='17' y='73'/%3E%3Cuse href='%23a' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3Cpath stroke='%23fff' stroke-width='.4' id='a' d='M0 0h1v1H0z'/%3E%3C/defs%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23i)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  /* background-size: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

header button {
  background-color: transparent;
  border: none;
  color: rgb(138, 129, 141);
  font-size: 1.5rem;
  margin-left: 10px;
}

.fav-container {
  background-color: #98cbe3;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-movie li {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 75px;
}

.fav-movie li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: 1.2rem;
}

.fav-movie li:hover .clear {
  opacity: 1;
}

.fav-movie li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
}

.fav-movie li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.movie {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331a;
  cursor: pointer;
  margin: 1.5rem;
  overflow: hidden;
}

.movie-header {
  position: relative;
}

.movie-header .random {
  position: absolute;
  top: 1rem;
  background-color: #f7e9d7; 
  padding: 0.25rem 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.movie-header img {
  object-fit: cover;
  /* height: 250px; */
  width: 100%;
}

.movie-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-body h4 {
  margin: 0;
}

.movie-body .fav-btn {
  border: none;
  background-color: transparent;
  color: rgb(197, 188, 188);
  cursor: pointer;
  font-size: 1.2rem;
}

.movie-body .fav-btn.active {
  color: #e66b6b;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  max-height: 95vh;
  max-width: 600px;
  width: 100%;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.meal-info h1 {
  text-align: center;
}

.pink {
  background-color: #ff78c7;
}











/* .fa-times:before{content:"\f00d"}
.fa-search:before{content:"\f002"}
.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1}
.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.sr-only-focusable:active,.sr-only-focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
@font-face{font-family:"Font Awesome 5 Brands";font-style:normal;font-weight:400;font-display:block;src:url(../webfonts/fa-brands-400.eot);src:url(../webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-brands-400.woff2) format("woff2"),url(../webfonts/fa-brands-400.woff) format("woff"),url(../webfonts/fa-brands-400.ttf) format("truetype"),url(../webfonts/fa-brands-400.svg#fontawesome) format("svg")}
.fab{font-family:"Font Awesome 5 Brands"}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:block;src:url(../webfonts/fa-regular-400.eot);src:url(../webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-regular-400.woff2) format("woff2"),url(../webfonts/fa-regular-400.woff) format("woff"),url(../webfonts/fa-regular-400.ttf) format("truetype"),url(../webfonts/fa-regular-400.svg#fontawesome) format("svg")}
.fab,.far{font-weight:400}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:block;src:url(../webfonts/fa-solid-900.eot);src:url(../webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(../webfonts/fa-solid-900.woff2) format("woff2"),url(../webfonts/fa-solid-900.woff) format("woff"),url(../webfonts/fa-solid-900.ttf) format("truetype"),url(../webfonts/fa-solid-900.svg#fontawesome) format("svg")}
.fa,.far,.fas{font-family:"Font Awesome 5 Free"}
.fa,.fas{font-weight:900} */